################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/BookLibrary/BookLibrary/.vs/BookLibrary
/BookLibrary/BookLibrary/bin/Debug/netcoreapp3.1
/BookLibrary/BookLibrary/obj
/BookLibrary/BookLibrary/bin/Release/netcoreapp3.1

/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_variables.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_utilities.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_type.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_transitions.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_tooltip.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_toasts.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_tables.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_spinners.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_root.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_reboot.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_progress.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_print.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_popover.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_pagination.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_navbar.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_nav.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_modal.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_mixins.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_media.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_list-group.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_jumbotron.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_input-group.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_images.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_grid.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_functions.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_forms.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_dropdown.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_custom-forms.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_code.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_close.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_carousel.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_card.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_buttons.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_button-group.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_breadcrumb.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_badge.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/_alert.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/vendor/_rfs.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/utilities/_visibility.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/utilities/_text.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/utilities/_stretched-link.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/utilities/_spacing.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/utilities/_sizing.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/utilities/_shadows.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/utilities/_screenreaders.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/utilities/_position.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/utilities/_overflow.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/utilities/_interactions.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/utilities/_float.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/utilities/_flex.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/utilities/_embed.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/utilities/_display.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/utilities/_clearfix.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/utilities/_borders.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/utilities/_background.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/utilities/_align.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_visibility.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_transition.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_text-truncate.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_text-hide.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_text-emphasis.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_table-row.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_size.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_screen-reader.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_resize.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_reset-text.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_pagination.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_nav-divider.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_lists.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_list-group.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_image.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_hover.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_grid.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_grid-framework.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_gradients.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_forms.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_float.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_deprecate.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_clearfix.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_caret.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_buttons.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_breakpoints.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_box-shadow.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_border-radius.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_badge.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_background-variant.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/mixins/_alert.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/bootstrap.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/bootstrap-reboot.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/scss/bootstrap-grid.scss
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/js/bootstrap.min.js.map
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/js/bootstrap.min.js
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/js/bootstrap.js.map
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/js/bootstrap.js
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/js/bootstrap.bundle.min.js.map
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/js/bootstrap.bundle.min.js
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/js/bootstrap.bundle.js.map
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/js/bootstrap.bundle.js
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/css/bootstrap.min.css.map
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/css/bootstrap.min.css
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/css/bootstrap.css.map
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/css/bootstrap.css
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/css/bootstrap-reboot.min.css.map
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/css/bootstrap-reboot.min.css
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/css/bootstrap-reboot.css.map
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/css/bootstrap-reboot.css
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/css/bootstrap-grid.min.css.map
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/css/bootstrap-grid.min.css
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/css/bootstrap-grid.css.map
/BookLibrary/BookLibrary/wwwroot/lib/twitter-bootstrap/css/bootstrap-grid.css
/BookLibrary/BookLibrary/wwwroot/lib/jquery/jquery.slim.min.map
/BookLibrary/BookLibrary/wwwroot/lib/jquery/jquery.slim.min.js
/BookLibrary/BookLibrary/wwwroot/lib/jquery/jquery.slim.js
/BookLibrary/BookLibrary/wwwroot/lib/jquery/jquery.min.map
/BookLibrary/BookLibrary/wwwroot/lib/jquery/jquery.min.js
/BookLibrary/BookLibrary/wwwroot/lib/jquery/jquery.js
/BookLibrary/BookLibrary/wwwroot/images/logo.jpg
/BookLibrary/BookLibrary/wwwroot/images/book/book3.png
/BookLibrary/BookLibrary/wwwroot/images/book/book3.jpg
/BookLibrary/BookLibrary/wwwroot/images/book/book2.png
/BookLibrary/BookLibrary/wwwroot/images/book/book2.jpg
/BookLibrary/BookLibrary/wwwroot/images/book/book1.png
/BookLibrary/BookLibrary/wwwroot/images/book/book1.jpg
