<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=divice-width" />
    <title>Sandeep Temp</title>
</head>
<body>
    <h1>Hello ...I am from other Location...Sandeep Temp</h1>
</body>
</html>
