
@{
    Layout= "_Layout";
}

    <img src="~/images/LogoTElegram.PNG" class="logo" />
    <h1>Welcome to the Book Library website.</h1>
    <h1>@DateTime.Now.ToString("dd-mm-yyyy")</h1>
    <p>This is Home page of Book Library!!!</p>
